<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'My grades' | transloco }}</h4>
    <ng-container *ngIf="$periods | async; let periods">
      <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li [ngbNavItem] *ngFor="let period of periods">
          <a ngbNavLink>
            {{ period.name }}
          </a>
          <ng-template ngbNavContent>
            <app-period-grade [period]="period"></app-period-grade>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </ng-container>
  </div>
</div>
