<div class="sidebar-wrapper">
  <a
    [routerLink]="['home']"
    class="sidebar-heading d-flex justify-content-center"
  >
    <img src="assets/img/skooltrak-logo.svg" alt="logo" />
  </a>
  <div class="dropdown">
    <img [src]="session.getAvatar()" alt="avatar" class="profile-pic" />
    <a
      class="dropdown-toggle white-text regular-text"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="block"> {{ session.currentUser.displayName }}</span>
      <span class="small-text light-text">{{ session.currentStudent?.group.name }}</span>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" [routerLink]="['profile']"
        ><i class="fas fa-user fa-fw" aria-hidden="true"></i>
        {{ 'My profile' | transloco }}</a
      >
      <a class="dropdown-item" [routerLink]="['change-password']"
        ><i class="fas fa-key fa-fw" aria-hidden="true"></i>
        {{ 'Change password' | transloco }}</a
      >

      <a class="dropdown-item" [routerLink]="['/']"
        ><i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>
        {{ 'Sign out' | transloco }}</a
      >
    </div>
  </div>
  <div class="list-group list-group-flush">
    <a
      *ngFor="let link of links"
      routerLinkActive="active"
      [routerLink]="link.route"
      class="list-group-item list-group-item-action"
    >
      <i [class]="link.icon" aria-hidden="true"></i>
      {{ link.label | transloco }}
    </a>
  </div>
</div>
