<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ (plan | async)?.name }}</h4>
    <div class="row">
      <div class="col-md-4">
        <p class="label">{{ 'Level' | transloco }}</p>
        <p class="element">{{ (plan | async)?.degree.name }}</p>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-chalkboard" aria-hidden="true"></i>
          {{ 'Courses' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-courses [plan]="plan | async"></app-courses>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-users" aria-hidden="true"></i>
          {{ 'Groups' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-groups [plan]="plan | async"></app-groups>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
