<form [formGroup]="form" (ngSubmit)="saveChanges()">
  <h2 mat-dialog-title>{{ 'Degree data' | translate }}</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'Name' | translate }}</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'School' | translate }}</mat-label>
      <mat-select formControlName="school" [compareWith]="compareFn">
        <mat-option *ngFor="let school of schools$ | async" [value]="school">{{
          school.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Level' | translate }}</mat-label>
      <mat-select formControlName="level">
        <mat-option [value]="levels.Maternal">{{ levels.Maternal }}</mat-option>
        <mat-option [value]="levels.Kinder">{{ levels.Kinder }}</mat-option>
        <mat-option [value]="levels.Elementary">{{
          levels.Elementary
        }}</mat-option>
        <mat-option [value]="levels.MiddleSchool">{{
          levels.MiddleSchool
        }}</mat-option>
        <mat-option [value]="levels.HighSchool">{{
          levels.HighSchool
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle formControlName="active" color="primary">{{
      'Active' | translate
    }}</mat-slide-toggle>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]>{{ 'Cancel' | translate }}</button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="form.invalid || form.pristine"
    >
      {{ 'Save' | translate }}
    </button>
  </mat-dialog-actions>
</form>
