<form *ngIf="gradeForm" [formGroup]="gradeForm">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Grade' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.close('close button')"
    >

    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">{{ 'Title' | transloco }}</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            name="title"
            id="title"
            aria-describedby="helpId"
            placeholder=""
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="type">{{ 'Type' | transloco }}</label>
          <select
            class="custom-select form-control"
            formControlName="bucket"
            name="type"
            id="type"
            [compareWith]="compareFn"
          >
            <option selected>{{ '-Select-' | transloco }}</option>
            <option *ngFor="let bucket of course.buckets" [ngValue]="bucket">{{
              bucket.name | transloco
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="date">{{ 'Date' | transloco }}</label>
          <sk-custom-datepicker
            formControlName="date"
            [maxDate]="maxDate"
            [minDate]="minDate"
          ></sk-custom-datepicker>
        </div>
      </div>
    </div>
    <div formArrayName="studentsGrades" class="card no-border students-container">
      <ng-container
        *ngFor="
          let student of gradeForm.get('studentsGrades')['controls'];
          let i = index
        "
      >
        <app-student-grade-item [student]="student" [locked]="locked"></app-student-grade-item>
      </ng-container>
    </div>
  </div>
</form>
