<form [formGroup]="paymentForm" (ngSubmit)="modal.close(paymentForm.value)">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Make payment' | transloco }}</h5>
    <button
      type="button"
      class="close"
      aria-label="close"
      (click)="modal.dismiss('close button')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="reference">{{ 'Reference' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            id="reference"
            formControlName="referenceNumber"
            aria-describedby="helpId"
            placeholder="99999-99999"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="amount">{{ 'Amount' | transloco }}</label>
          <input
            type="number"
            class="form-control"
            name="amount"
            formControlName="amount"
            id="amount"
            aria-describedby="helpId"
            placeholder=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="method">{{ 'Payment method' | transloco }}</label>
          <select
            class="form-control custom-select"
            formControlName="method"
            name="method"
            id="method"
          >
            <option [value]="''">{{ '-Select-' | transloco }}</option>
            <option *ngFor="let method of methods" [value]="method">{{
              method
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="payment-date">{{ 'Payment date' | transloco }}</label>
          <sk-custom-datepicker
            formControlName="paymentDate"
            name="payment-date"
            id="payment-date"
          ></sk-custom-datepicker>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">{{ 'Description' | transloco }}</label>
          <textarea
            class="form-control"
            formControlName="description"
            name="description"
            id="description"
            rows="3"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      ngbAutofocus
      type="submit"
      [disabled]="!paymentForm.valid"
      class="btn btn-primary"
    >
      <i class="far fa-save fa-fw" aria-hidden="true"></i>
      {{ 'Save' | transloco }}
    </button>
  </div>
</form>
