<ng-container *ngFor="let block of blocks">
  <ng-container [ngSwitch]="block.type">
    <p *ngSwitchCase="'paragraph'" [innerHtml]="block.data.text"></p>
    <ng-container *ngSwitchCase="'header'">
      <ng-container [ngSwitch]="block.data.level">
        <h1 *ngSwitchCase="1" [innerHtml]="block.data.text"></h1>
        <h2 *ngSwitchCase="2" [innerHtml]="block.data.text"></h2>
        <h3 *ngSwitchCase="3" [innerHtml]="block.data.text"></h3>
        <h4 *ngSwitchCase="4" [innerHtml]="block.data.text"></h4>
        <h5 *ngSwitchCase="5" [innerHtml]="block.data.text"></h5>
        <h6 *ngSwitchCase="6" [innerHtml]="block.data.text"></h6>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'link'">
      <a
        [href]="block.data.link"
        [target]="'blank'"
        class="card no-underline shadow-medium"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <h6 class="card-title">{{ block.data.meta.title }}</h6>
              <p>{{ block.data.meta.description }}</p>
              <p class="text-muted">{{ block.data.link }}</p>
            </div>
            <div
              class="col-md-2 d-flex align-items-center justify-content-center"
            >
              <img class="img-fluid" [src]="block.data.meta.image.url" />
            </div>
          </div>
        </div>
      </a>
    </ng-container>
    <div
      *ngSwitchCase="'delimiter'"
      class="d-flex justify-content-center"
      [style.font-size]="'30px'"
    >
      ***
    </div>
    <div *ngSwitchCase="'image'" class="card shadow-low">
      <div class="card-body">
        <div
          class="d-flex justify-content-center"
          [class.bg-secondary]="block.data.withBackground"
        >
          <img [src]="block.data.file.url" class="img-fluid" />
        </div>
        <p class="text-muted" [innerHtml]="block.data.caption"></p>
      </div>
    </div>
    <ng-container *ngSwitchCase="'list'">
      <ul *ngIf="block.data.style === 'unordered'">
        <li *ngFor="let item of block.data.items" [innerHtml]="item"></li>
      </ul>
      <ol *ngIf="block.data.style === 'ordered'">
        <li *ngFor="let item of block.data.items" [innerHtml]="item"></li>
      </ol>
    </ng-container>
  </ng-container>
</ng-container>
