<div *ngIf="documents$ | async as documents">
  <ng-container *ngFor="let document of documents">
    <div class="row">
      <div class="col-lg-4" *ngIf="!teacherDoc(document)">
        <div class="card doc-card">
          <div class="card-body">
            <div ngbDropdown class="float-end" container="body">
              <i
                class="bi bi-three-dots-vertical medium-text pointer"
                [id]="document.id + '-menu'"
                ngbDropdownToggle
              ></i>
              <div ngbDropdownMenu [attr.aria-labelled]="document.id + '-menu'">
                <a
                  ngbDropdownItem
                  [href]="filesService.getFile(document.file.id)"
                  [download]="true"
                >
                  <i
                    class="bi bi-download text-primary me-4"
                    aria-hidden="true"
                  ></i>
                  {{ 'Download' | transloco }}
                </a>
                <button
                  ngbDropdownItem
                  (click)="deleteDocument(document, assignment.id)"
                >
                  <i
                    class="bi bi-trash text-danger me-4"
                    aria-hidden="true"
                  ></i>
                  {{ 'Delete' | transloco }}
                </button>
              </div>
            </div>

            <div class="row">
              <div
                class="
                  col-lg-3
                  d-flex
                  justify-content-center
                  align-items-center
                "
              >
                <img [appFileIcon]="document" class="logo" alt="" />
              </div>
              <div class="col">
                <span class="semibold-text">{{ document.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div
    *ngIf="!documents.length"
    class="d-flex flex-column align-items-center justify-content-center"
  >
    <img
      src="/assets/img/no-content.svg"
      class="mb-4 mt-5 no-docs"
      alt="No documents"
    />
    <p class="medium-text">No has subido archivos aún</p>
    <button type="button" class="btn btn-primary" (click)="addDocument()">
      <i class="fas fa-cloud-upload-alt fa-fw" aria-hidden="true"></i> Subir
      archivo
    </button>
  </div>
</div>
