<ng-container *ngIf="$grades | async; else loading; let grades">
  <div
    class="row d-flex flex-column align-items-center justify-content-center"
    *ngIf="!grades.length"
  >
    <img src="assets/img/no-grades.svg" alt="No grades" class="no-grades" />
    <p class="medium-text">{{ 'No grades yet for this period' | transloco }}</p>
    <button type="button" (click)="showModal()" class="btn btn-primary">
      {{ 'Add grade' | transloco }}
    </button>
  </div>
  <div *ngFor="let grade of grades" class="card no-border shadow-medium">
    <div class="card-body" (click)="editGrade(grade)">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <p class="title medium-text">{{ grade.title }}</p>
          <p class="regular-text light-text">{{ grade.bucket.name | transloco }}</p>
        </div>
        <div class="col-md-3 d-flex flex-column justify-content-center">
          {{ grade.date | date: 'longDate' }}
        </div>
        <div class="col-md-3 d-flex flex-column justify-content-center" >
          <div *ngIf="grade.published" class="text-success"><i class="fas fa-check-circle fa-fw"></i> {{ 'Published' | transloco }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
<button type="button" (click)="showModal()" class="btn btn-primary rounded-pill float-button">
  {{ 'Add grade' | transloco }}
</button>
