<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'New payment' | translate }}
    </h4>
    <div class="row">
      <div class="col-m-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <button
              class="btn btn-primary"
              (click)="showModal()"
              type="button"
              id="button-addon1"
            >
              <i class="fas fa-user-check fa-fw" aria-hidden="true"></i>
            </button>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedName"
            [disabled]="true"
            aria-label="Example text with button addon"
            aria-describedby="button-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
