@font-face
  font-family: 'Nunito'
  font-style: normal
  font-weight: 300
  src: local('Nunito Personal Light'), url('./Nunito-Light.ttf')

@font-face
  font-family: 'Nunito'
  font-style: normal
  font-weight: 400
  src: local('Nunito Personal'), url('./Nunito-Regular.ttf')

@font-face
  font-family: 'Nunito'
  font-style: italic
  font-weight: 400
  src: local('Nunito Personal Italic'), url('./Nunito-Italic.ttf')

@font-face
  font-family: 'Nunito'
  font-style: normal
  font-weight: 600
  src: local('Nunito Personal SemiBold'), url('./Nunito-SemiBold.ttf')

@font-face
  font-family: 'Nunito'
  font-style: italic
  font-weight: 600
  src: local('Nunito Personal SemiBold Italic'), url('./Nunito-SemiBoldItalic.ttf')

@font-face
  font-family: 'Nunito'
  font-style: normal
  font-weight: 700
  src: local('Nunito Personal Bold'), url('./Nunito-Bold.ttf')

@font-face
  font-family: 'Nunito'
  font-style: normal
  font-weight: 800
  src: local('Nunito Personal ExtraBold'), url('./Nunito-ExtraBold.ttf')

@font-face
  font-family: 'Nunito'
  font-style: italic
  font-weight: 800
  src: local('Nunito Personal ExtraBold Italic'), url('./Nunito-ExtraBoldItalic.ttf')
