@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 300
  src: local('Tofino Personal Light'), url('./Tofino-Light.otf') format('opentype')

@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 400
  src: local('Tofino Personal Regular'), url('./Tofino-Regular.otf') format('opentype')

@font-face
  font-family: 'Tofino'
  font-style: italic
  font-weight: 400
  src: local('Tofino Personal Regular Italic'), url('./Tofino-RegularItalic.otf') format('opentype')

@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 500
  src: local('Tofino Personal Medium'), url('./Tofino-Medium.otf') format('opentype')

@font-face
  font-family: 'Tofino'
  font-style: italic
  font-weight: 500
  src: local('Tofino Personal Medium Italic'), url('./Tofino-MediumItalic.otf') format('opentype')

@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 700
  src: local('Tofino Personal Bold'), url('./Tofino-Bold.otf') format('opentype')

