@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 300
  src: local('Tofino Personal Light'), url('./Tofino-Light.otf')

@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 400
  src: local('Tofino Personal'), url('./Tofino-Regular.otf')

@font-face
  font-family: 'Tofino'
  font-style: italic
  font-weight: 400
  src: local('Tofino Personal Italic'), url('./Tofino-RegularItalic.otf')

@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 600
  src: local('Tofino Personal Medium'), url('./Tofino-Medium.otf')

@font-face
  font-family: 'Tofino'
  font-style: italic
  font-weight: 600
  src: local('Tofino Personal Medium Italic'), url('./Tofino-MediumItalic.otf')

@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 700
  src: local('Tofino Personal Bold'), url('./Tofino-Bold.otf')

@font-face
  font-family: 'Tofino'
  font-style: normal
  font-weight: 800
  src: local('Tofino Personal Black'), url('./Tofino-Black.otf')

@font-face
  font-family: 'Tofino'
  font-style: italic
  font-weight: 800
  src: local('Tofino Personal Black Italic'), url('./Tofino-BlackItalic.otf')
