<div class="px-3">
  <div class="row">
    <div *ngFor="let room of rooms$ | async" class="col-md-3">
      <div class="card shadow-medium pointer" [routerLink]="['rooms', room.id]">
        <div
          class="img-container py-3 px-5"
          [style.background]="'rgb(25, 130, 196)'"
        >
          <img
            [src]="'assets/icons/course-computer.svg'"
            [alt]="room.name"
            class="card-img-top"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title mb-2">{{ room.name }}</h5>
          <h6 class="text-muted">
            Creado por: {{ room.createdBy.displayName }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
