<div class="row" [formGroup]="form">
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" for="blood-group">{{ 'Blood group' | transloco }}</label>
      <select
        class="custom-select form-control"
        formControlName="bloodGroup"
        name="blood-group"
        id="blood-group"
      >
        <option [disabled]="true" selected>{{ '-Select-' | transloco }}</option>
        <option *ngFor="let group of groups" [value]="group">{{
          group
        }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" for="allergies">{{ 'Allergies' | transloco }}</label>
      <input
        type="text"
        formControlName="allergies"
        class="form-control"
        name="allergies"
        id="allergies"
        placeholder="Alergias"
      />
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" for="medicine">{{ 'Medicine' | transloco }}</label>
      <input
        type="text"
        formControlName="medicine"
        class="form-control"
        name="medicine"
        id="medicine"
        placeholder="Medicinas"
      />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-label" for="pediactrician">{{ 'Pediatrician' | transloco }}</label>
      <input
        type="text"
        formControlName="pediatrician"
        name="pediatrician"
        id="pediatrician"
        class="form-control"
        placeholder="Pediatra"
      />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-label" for="hospital">{{ 'Hospital' | transloco }}</label>
      <input
        formControlName="hospital"
        type="text"
        name="hospital"
        id="hospital"
        class="form-control"
        placeholder="Hospital"
      />
    </div>
  </div>
</div>
