<form [formGroup]="form" (ngSubmit)="saveChanges()">
  <mat-card>
    <div class="header-container mb-3">
      <mat-card-title>{{ 'Student data' | translate }}</mat-card-title>
      <div>
        <button mat-button class="me-2">{{ 'Cancel' | translate }}</button>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="form.invalid"
        >
          {{ 'Save changes' | translate }}
        </button>
      </div>
    </div>

    <mat-card-content>
      <div class="row">
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'First name' | translate }}</mat-label>
            <input type="text" matInput formControlName="firstName" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Middle name' | translate }}</mat-label>
            <input type="text" matInput formControlName="middleName" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Surname' | translate }}</mat-label>
            <input type="text" matInput formControlName="surname" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Second surname' | translate }}</mat-label>
            <input type="text" matInput formControlName="secondSurname" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Document ID' | translate }}</mat-label>
            <input type="text" matInput formControlName="documentId" />
            <mat-hint>X-XXX-XXXX</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Gender' | translate }}</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]="genderEnum.Female">{{
                genderEnum.Female | translate
              }}</mat-option>
              <mat-option [value]="genderEnum.Male">{{
                genderEnum.Male | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Date of birth' | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="birthDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'School' | translate }}</mat-label>
            <mat-select formControlName="school" [compareWith]="compareFn">
              <mat-option
                *ngFor="let school of schools$ | async"
                [value]="school"
                >{{ school.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Degree' | translate }}</mat-label>
            <mat-select formControlName="degree" [compareWith]="compareFn">
              <mat-option
                *ngFor="let degree of degrees$ | async"
                [value]="degree"
                >{{ degree.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Plan' | translate }}</mat-label>
            <mat-select formControlName="plan" [compareWith]="compareFn">
              <mat-option *ngFor="let plan of plans$ | async" [value]="plan">{{
                plan.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>{{ 'Group' | translate }}</mat-label>
            <mat-select formControlName="group" [compareWith]="compareFn">
              <mat-option
                *ngFor="let group of groups$ | async"
                [value]="group"
                >{{ group.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label>{{ 'Address' | translate }}</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <mat-tab-group dynamicHeight>
          <mat-tab [label]="'Parents'">
            <div class="tab-container">
              <mat-card class="my-4">
                <mat-card-header>
                  <mat-card-title>{{
                    'Mother info' | translate
                  }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <skooltrak-parents-form
                    formGroupName="mother"
                  ></skooltrak-parents-form>
                </mat-card-content>
              </mat-card>
              <mat-card class="my-4">
                <mat-card-header>
                  <mat-card-title>{{
                    'Father info' | translate
                  }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <skooltrak-parents-form
                    formGroupName="father"
                  ></skooltrak-parents-form>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab [label]="'Medical info'">
            <div class="tab-container" formGroupName="medicalInfo">
              <div class="row">
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>{{ 'Blood group' | translate }}</mat-label>
                    <mat-select formControlName="bloodGroup">
                      <mat-option
                        *ngFor="let group of bloodGroups"
                        [value]="group"
                        >{{ group }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>{{ 'Allergies' | translate }}</mat-label>
                    <input matInput type="text" formControlName="allergies" />
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>{{ 'Medicine' | translate }}</mat-label>
                    <input matInput type="text" formControlName="medicine" />
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <mat-label>{{ 'Pediatrician' | translate }}</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="pediatrician"
                    />
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <mat-label>{{ 'Hospital' | translate }}</mat-label>
                    <input matInput type="text" formControlName="hospital" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</form>
