.avatar {
  background-size: cover;
}

.table-container {
  overflow: auto;
}

td.mat-cell {
  min-width: 150px;
}

td.mat-column-student {
  min-width: 230px;
}

th.mat-header-cell {
  .title {
    word-break: break-all;
    display: block;
  }
}
