<mat-card>
  <mat-card-title>{{ 'Grades' | translate }}</mat-card-title>
  <mat-card-content>
    <div class="row">
      <mat-form-field class="col-md-4">
        <mat-label>{{ 'Course' | translate }}</mat-label>
        <mat-select [formControl]="course">
          <mat-option *ngFor="let course of courses$ | async" [value]="course">
            {{ course.plan.name }} | {{ course.subject.shortName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{ 'Group' | translate }}</mat-label>
        <mat-select [formControl]="group">
          <mat-option *ngFor="let group of groups$ | async" [value]="group">
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{ 'Period' | translate }}</mat-label>
        <mat-select [formControl]="period">
          <mat-option *ngFor="let period of periods$ | async" [value]="period">
            {{ period.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container *ngIf="group.value && period.value">
      <div class="d-flex align-items-center justify-content-between">
        <h5>{{ 'Students' | translate }}</h5>
        <button mat-flat-button color="primary" (click)="addGrade()">
          {{ 'Add grade' | translate }}
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="student">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'Student' | translate }}
          </th>
          <td
            mat-cell
            class="d-flex align-items-center"
            *matCellDef="let student"
          >
            <div
              mat-card-avatar
              class="avatar my-2 me-2"
              [style.background-image]="'url(' + student.profilePicURL + ')'"
            ></div>
            {{ student | studentName: 'short' }}
          </td>
        </ng-container>
        <ng-container
          *ngFor="let grade of grades$ | async"
          matColumnDef="{{ grade._id }}"
        >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ grade.title }}
          </th>
          <td mat-cell *matCellDef="let student">{{ 'item' }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </ng-container>
  </mat-card-content>
</mat-card>
