<div [formGroup]="group">
  <div formArrayName="matchList">
    <h4>Lista de pareo</h4>
    <div
      *ngFor="let match of group.get('matchList')['controls']; let i = index"
    >
      <div [formGroupName]="i" class="card">
        <div class="card-body">
          <h5 class="card-title">
            Opción {{ i + 1 }}
            <span
              class="fas fa-times float-end pointer"
              *ngIf="group.get('matchList')['controls'].length > 1"
              (click)="clickRemove(i)"
            >
            </span>
          </h5>
          <div class="row">
            <div class="col-md-5">
              <div
                id="match-{{ index }}-{{ i }}"
                formControlName="optionText"
                [ngxSummernote]="config"
              ></div>
            </div>
            <div
              class="col-md-2 d-flex align-items-center justify-content-center"
            >
              <i
                class="fas fa-arrow-right text-primary fa-3x fa-fw"
                aria-hidden="true"
              ></i>
            </div>
            <div class="col-md-5">
              <div
                id="option"
                id="answer-{{ index }}-{{ i }}"
                formControlName="correctMatch"
                [ngxSummernote]="config"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span
      class="btn btn-primary btn-sm rounded-pill pointer float-end"
      (click)="clickAdd()"
    >
      <i class="fas fa-plus-circle" aria-hidden="true"></i>
      {{ 'Add option' | transloco }}
    </span>
  </div>
</div>
