<div *ngIf="$documents | async as documents; else loading">
  <div
    class="row d-flex flex-column align-items-center justify-content-center"
    *ngIf="!documents.length"
  >
    <img class="no-docs" src="assets/img/no-documents.svg" alt="" />
    <p class="medium-text">{{ 'No documents yet' | transloco }}</p>
    <button type="button" (click)="showModal()" class="btn btn-primary">
      {{ 'Add document' | transloco }}
    </button>
  </div>
  <table class="table" *ngIf="documents.length">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">{{ 'Name' | transloco }}</th>
        <th scope="col">{{ 'Uploaded date' | transloco }}</th>
        <th scope="col">{{ 'Uploaded by' | transloco }}</th>
        <th scope="col" class="text-center">{{ 'Delete' | transloco }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents">
        <td>
          <i
            class="fa-lg"
            [class]="getFileIcon(document)"
            aria-hidden="true"
          ></i>
        </td>
        <td>
          <span class="card-title bold-text">
            <span [innerHTML]="document.createUser.photoURL | avatar"></span
            >{{ document.createUser.displayName }}</span
          >
        </td>
        <td>
          <a
            [href]="filesService.getFile(document.file.id)"
            [download]="true"
            >{{ document.name }}</a
          >
        </td>
        <td>{{ document.createDate | date: 'medium' }}</td>
        <td class="text-center text-danger">
          <i class="fas fa-trash-alt fa-lg fa-fw" (click)="deleteFile(document.id)" aria-hidden="true" ngbTooltip="Eliminar"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
<button
  class="btn btn-primary rounded-pill float-button"
  type="button"
  (click)="showModal()"
>
  <span class="fas fa-save"></span> {{ 'Add document' | transloco }}
</button>
