<button
  type="button"
  (click)="sortByGroup()"
  class="btn btn-primary rounded-pill"
>
  <i class="fas fa-filter fa-fw" aria-hidden="true"></i> Ordenar Grupo/Nombre
</button>
<div *ngFor="let answer of answers | async" class="card">
  <div class="card-body">
    <h4 class="card-title">
      <{{ answer.student.fullName }} - {{ answer.student.group.name }}
    </h4>
    {{ 'Questions' | transloco }}
    <ul>
      <li
        *ngFor="let question of answer.questions; let i = index"
        class="medium-text"
      >
        <span [ngxSummernoteView]="question.questionText" class="light-text"></span>:
        {{ survey.questions[i].options[question.answerIndex].answerText }}
      </li>
    </ul>
  </div>
</div>
