<div class="modal-header">
  <h5 class="modal-title">{{ 'Assistance' | transloco }}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="modal.dismiss('close button')"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="course">{{ 'Course' | transloco }}</label>
        <select
          [(ngModel)]="currentCourse"
          (ngModelChange)="getGroups()"
          class="custom-select form-control"
          name="course"
          id="course"
        >
          <option selected [ngValue]="undefined">
            {{ '-Select-' | transloco }}
          </option>
          <option *ngFor="let course of courses$ | async" [ngValue]="course">
            {{ course.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="group">{{ 'Group' | transloco }}</label>
        <select
          [(ngModel)]="currentGroup"
          (ngModelChange)="getStudents()"
          class="form-control custom-select"
          name="group"
          id="group"
        >
          <option selected [ngValue]="undefined">
            {{ '-Select-' | transloco }}
          </option>
          <option *ngFor="let group of groups$ | async" [ngValue]="group">
            {{ group.name }}
          </option>
        </select>
      </div>
    </div>
    <ng-container *ngIf="currentGroup">
      <div class="col-md-12" *ngFor="let student of students$ | async">
        <div class="card">
          <div class="card-body row">
            <div class="col-md-8">
              {{ student.shortName }}
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <select
                  class="custom-select form-control"
                  name="attendance"
                  id="attendance"
                >
                  <option *ngFor="let option of options" [value]="option.CODE">
                    {{ option.DESCRIPTION | transloco }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
