<form [formGroup]="userForm" class="back" (ngSubmit)="saveUser()">
  <div class="container d-flex align-items-center justify-content-center">
    <div
      class="card-container d-flex align-items-center justify-content-center"
    >
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row d-flex align-items-center justify-content-center">
              <img
                src="assets/img/skooltrak-logo.svg"
                class="logo"
                alt="logo"
              />
            </div>
            <div class="d-flex flex-column">
              <div class="form-label-group">
                <input
                  autocomplete="name"
                  type="text"
                  class="form-control form-control-lg"
                  name="display-name"
                  id="display-name"
                  formControlName="displayName"
                  placeholder=" "
                />
                <label for="display-name">{{ 'Name' | translate }}</label>
              </div>
              <div class="form-label-group">
                <input
                  autocomplete="new-password"
                  type="email"
                  class="form-control form-control-lg"
                  name="email"
                  id="email"
                  formControlName="email"
                  aria-describedby="helpId"
                  placeholder=" "
                />
                <label for="email">{{ 'Email' | translate }}</label>
              </div>
              <div *ngIf="!credential" class="form-label-group">
                <input
                  autocomplete="new-password"
                  type="password"
                  class="form-control form-control-lg"
                  name="password"
                  id="password"
                  formControlName="password"
                  placeholder=" "
                />
                <label for="password">{{ 'Password' | translate }}</label>
              </div>
              <div *ngIf="!credential" class="form-label-group">
                <input
                  autocomplete="new-password"
                  type="password"
                  class="form-control form-control-lg"
                  name="repeat-password"
                  id="repeat-password"
                  formControlName="passwordConfirm"
                  placeholder=" "
                />
                <label for="repeat-password">{{
                  'Repeat password' | translate
                }}</label>
              </div>
              <button
                type="submit"
                [disabled]="!userForm.valid"
                class="btn btn-primary btn-block"
              >
                {{ 'Sign up' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

