<ng-container *ngIf="$courses | async as courses; else loading">
  <ng-container *ngIf="$score | async; let score">
    <h6>
      Promedio del periodo:
      <span
        [ngClass]="{
          'success-text': score >= 4,
          'warning-text': score >= 3 && score < 4,
          'danger-text': score < 3
        }"
        >{{ score | number: '1.2-3' }}</span
      >
    </h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ 'Subject' | transloco }}</th>
          <th scope="col" class="text-center">{{ 'Score' | transloco }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let course of courses; let i = index">
          <tr>
            <td>
              {{ course.subject.name }}
              <span
                *ngFor="let teacher of course.teachers"
                class="badge badge-primary rounded-pill mr-1"
                ><i
                  class="fas fa-chalkboard-teacher fa-fw"
                  aria-hidden="true"
                ></i>
                {{ teacher.name }}</span
              >
            </td>
            <td class="text-center">
              <span
                class="font-weight-bold"
                [ngClass]="{
                  'success-text': course.currentScore >= 4,
                  'warning-text':
                    course.currentScore >= 3 && course.currentScore < 4,
                  'danger-text': course.currentScore < 3
                }"
              >
                {{
                  course.currentScore
                    ? (course.currentScore | number: '1.2-2')
                    : 'S/N'
                }}
              </span>
            </td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-toggle="collapse"
                [attr.data-target]="'#collapse-' + i"
                [attr.aria-expanded]="false"
                [attr.aria-control]="'collapse-' + 1"
              >
                <i class="fas fa-search fa-fw" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr
            class="collapse"
            [attr.id]="'collapse-' + i"
            gradeDetails
            [courseId]="course.id"
            [studentId]="session.currentStudent.id"
            [period]="period"
          ></tr>
        </ng-container>
      </tbody>
    </table>
  </ng-container>
</ng-container>
<ng-template #loading><sk-loading-modal></sk-loading-modal></ng-template>
