.dot {
  height: 25px;
  width: 25px;
  margin-top: 0.65rem;
  margin-right: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.mat-option-text {
  display: inline-flex;
}
