<div class="card shadow-high">
  <div class="card-body">
    <h4 class="card-title">{{ 'Outbox' | transloco }}</h4>
    <div
      class="d-flex flex-column justify-content-center no-content-container"
      *ngIf="(messages$ | async)?.length === 0"
    >
      <img
        src="assets/img/empty-inbox.svg"
        alt="Empty"
        class="mt-4 no-content"
      />
      <p class="mt-2 text-center medium-text">
        {{ 'No messages yet' | transloco }}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let message of messages$ | async"
        class="list-group-item d-flex pointer"
        (click)="openMessage(message)"
      >
        <div class="col-md-4">
          {{ 'Receivers' | transloco }}:
          <span
            *ngFor="let receiver of message.receivers; let i = index"
            class="badge badge-primary badge-pill"
            [hidden]="i > 2"
            >{{ receiver.name ?? receiver.displayName }}</span
          >
          <span
            *ngIf="message.receivers.length > 3"
            class="badge badge-success badge-pill"
            >{{ message.receivers.length }}+</span
          >
        </div>
        <div class="col-md-6">
          {{ message.title }}
        </div>
        <div class="col-md-2">
          {{ message.sendDate | timeMessage }}
        </div>
      </li>
    </ul>
  </div>
</div>
