<div *ngIf="$course | async as course; else loading" class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ course.subject.name }} <small>{{ course.plan.name }}</small>
    </h4>
    <p>
      <span
        class="badge badge-pill badge-primary"
        *ngFor="let teacher of course.teachers"
        >{{ teacher.name }}</span
      >
    </p>
    <ngb-tabset type="tabs">
      <ngb-tab>
        <ng-template ngbTabTitle>
          <i class="fas fa-clipboard-check"></i>
          {{ 'Grades' | translate }}
        </ng-template>
        <ng-template ngbTabContent>
          <!-- <app-grades [course]="course"></app-grades> -->
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <i class="far fa-calendar-alt"></i>
          {{ 'Assignments' | translate }}
        </ng-template>
        <ng-template ngbTabContent>
          <!-- <app-assignments [course]="course"></app-assignments> -->
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
