<form [formGroup]="studentForm" (ngSubmit)="saveStudents()">
  <div class="row">
    <div class="col-md-3 form-label-group">
      <input
        type="text"
        name="first-name"
        id="first-name"
        autocomplete="new-password"
        formControlName="firstName"
        class="form-control"
        placeholder=" "
      />
      <label for="first-name">{{ 'First name' | translate }}</label>
    </div>
    <div class="col-md-3 form-label-group">
      <input
        type="text"
        name="middle-name"
        formControlName="middleName"
        id="middle-name"
        class="form-control"
        autocomplete="new-password"
        placeholder=" "
      />
      <label for="middle-name">{{ 'Middle name' | translate }}</label>
    </div>
    <div class="col-md-3 form-label-group">
      <input
        type="text"
        name="surname"
        id="surname"
        formControlName="surname"
        autocomplete="new-password"
        class="form-control"
        placeholder=" "
      />
      <label for="surname">{{ 'Surname' | translate }}</label>
    </div>
    <div class="col-md-3 form-label-group">
      <input
        type="text"
        name="second-surname"
        id="second-surname"
        formControlName="secondSurname"
        autocomplete="new-password"
        class="form-control"
        placeholder=" "
      />
      <label for="second-surname">{{ 'Second surname' | translate }}</label>
    </div>
    <div class="col-md-3 form-label-group">
      <input
        type="text"
        name="document-id"
        id="document-id"
        formControlName="documentId"
        autocomplete="new-password"
        class="form-control"
        placeholder=" "
      />
      <label for="document-id">{{ 'Document ID' | translate }}</label>
    </div>
    <div class="col-md-3 form-label-group">
      <sk-floating-datepicker
        [id]="'birth-date'"
        [label]="'Date of birth' | translate"
        formControlName="birthDate"
      >
      </sk-floating-datepicker>
    </div>
    <div class="col-md-3 form-label-group">
      <select
        class="custom-select form-control"
        name="gender"
        id="gender"
        formControlName="gender"
        [compareWith]="compareFn"
      >
        <option [disabled]="true" selected>{{ '-Select-' | translate }}</option>
        <option *ngFor="let gender of genders" [ngValue]="gender">{{
          gender.name
        }}</option>
      </select>
      <label for="gender">{{ 'Gender' | translate }}</label>
    </div>
    <div class="col-md-3 form-label-group">
      <select
        class="custom-select form-control"
        name="group"
        id="group"
        formControlName="group"
        [compareWith]="compareFn"
      >
        <option [disabled]="true" [ngValue]="' '" selected>{{
          '-Select-' | translate
        }}</option>
        <option *ngFor="let group of groups | async" [ngValue]="group">{{
          group.name
        }}</option>
      </select>
      <label for="group">{{ 'Group' | translate }}</label>
    </div>
    <div class="col-md-12 form-label-group">
      <textarea
        type="text"
        name="address"
        id="address"
        formControlName="address"
        autocomplete="new-password"
        class="form-control"
        placeholder=" "
      >
      </textarea>
      <label for="address">{{ 'Address' | translate }}</label>
    </div>
  </div>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]>
      <a ngbNavLink>
        <span class="fas fa-user-shield"></span> {{ 'Guardians' | translate }}
      </a>
      <ng-template ngbNavContent>
        <div formArrayName="guardians">
          <div
            class="card card-parent"
            *ngFor="
              let parent of studentForm.get('guardians')['controls'];
              let i = index
            "
          >
            <div class="card-body">
              <span
                class="fas fa-times float-right"
                (click)="removeGuardian(i)"
              ></span>
              <p class="card-title bold-text">
                {{ 'Guardian' | translate }} {{ i + 1 }}
              </p>
              <app-guardians-form
                [form]="studentForm.get('guardians')['controls'][i]"
                [index]="i"
              ></app-guardians-form>
            </div>
          </div>
        </div>
        <span (click)="addGuardian()" class="text-primary link float-right"
          ><span class="fas fa-user-plus"></span>
          {{ 'Add guardian' | translate }}</span
        >
      </ng-template>
    </li>
    <li [ngbNavItem]>
      <a ngbNavLink>
        <span class="fas fa-user-shield"></span> {{ 'Parents' | translate }}
      </a>
      <ng-template ngbNavContent>
        <div class="card">
          <div class="card-body">
            <p class="card-title bold-text">{{ 'Mother info' | translate }}</p>
            <app-parents-form
              [form]="studentForm.get('mother')"
              [parent]="'mother'"
            ></app-parents-form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-title bold-text">{{ 'Father info' | translate }}</p>
            <app-parents-form
              [form]="studentForm.get('father')"
              [parent]="'father'"
            ></app-parents-form>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]>
      <a ngbNavLink>
        <span class="fas fa-hospital"></span> {{ 'Medical info' | translate }}
      </a>
      <ng-template ngbNavContent>
        <app-medical-info
          [form]="studentForm.get('medicalInfo')"
        ></app-medical-info>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  <button
    [disabled]="!studentForm.valid || !studentForm.dirty"
    class="btn btn-primary rounded-pill float"
    type="submit"
  >
    <span class="fas fa-save"></span> {{ 'Save changes' | translate }}
  </button>
</form>
