<ng-container *ngIf="schedule$ | async as days">
  <p class="font-weight-bold">
    {{ 'Sync class' | transloco }}
    <i class="fas fa-square fa-fw text-success me-2" aria-hidden="true"></i>
    {{ 'In person' | transloco }}
    <i class="fas fa-square fa-fw text-warning" aria-hidden="true"></i>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" style="width: 10%"></th>
        <th
          *ngFor="let day of days"
          style="width: 18%"
          scope="col"
          class="text-center"
        >
          {{ day.name | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of days[0].classHours; let i = index">
        <th scope="row">
          {{ padWithZeroes(hour.startTime.hour, 2) }}:{{
            padWithZeroes(hour.startTime.minute, 2)
          }}
          - {{ padWithZeroes(hour.endTime.hour, 2) }}:{{
            padWithZeroes(hour.endTime.minute, 2)
          }}
        </th>
        <td
          *ngFor="let day of days; let j = index"
          class="text-center"
          [class.table-secondary]="!day.classHours[i].course"
          [class.table-primary]="day.classHours[i].course?.name === 'Reccess'"
          [class.bg-warning]="day.classHours[i].inPerson"
          [class.bg-success]="
            !day.classHours[i].inPerson && day.classHours[i].isSync
          "
          [class.text-white]="day.classHours[i].isSync"
        >
          <a
            class="no-underline"
            *ngIf="
              day.classHours[i].course &&
              day.classHours[i].course?.name !== 'Reccess'
            "
            [routerLink]="['/student/courses', day.classHours[i].course?.id]"
            >{{ day.classHours[i].course?.subject?.name | transloco }}</a
          >
          <span
            *ngIf="
              day.classHours[i].course &&
              day.classHours[i].course?.name === 'Reccess'
            "
          >
            {{ day.classHours[i].course?.subject?.name | transloco }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
