/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';

:root {
  --primary-100: #ebf8ff;
  --primary-200: #bee3f8;
  --primary-300: #90cdf4;
  --primary-400: #63b3ed;
  --primary-500: #4299e1;
  --primary-600: #3182ce;
  --primary-700: #2b6cb0;
  --primary-800: #2c5282;
  --primary-900: #2a4365;

  --secondary-100: #e6fffa;
  --secondary-200: #b2f5ea;
  --secondary-300: #81e6d9;
  --secondary-400: #4fd1c5;
  --secondary-500: #38b2ac;
  --secondary-600: #319795;
  --secondary-700: #2c7a7b;
  --secondary-800: #285e61;
  --secondary-900: #234e52;

  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;

  --success-100: #f0fff4;
  --success-200: #c6f6d5;
  --success-300: #9ae6b4;
  --success-400: #68d391;
  --success-500: #48bb78;
  --success-600: #38a169;
  --success-700: #2f855a;
  --success-800: #276749;
  --success-900: #22543d;

  --danger-100: #fff5f5;
  --danger-200: #fed7d7;
  --danger-300: #feb2b2;
  --danger-400: #fc8181;
  --danger-500: #f56565;
  --danger-600: #e53e3e;
  --danger-700: #c53030;
  --danger-800: #9b2c2c;
  --danger-900: #742a2a;

  --purple-100: #faf5ff;
  --purple-200: #e9d8fd;
  --purple-300: #d6bcfa;
  --purple-400: #b794f4;
  --purple-500: #9f7aea;
  --purple-600: #805ad5;
  --purple-700: #6b46c1;
  --purple-800: #4e339b;
  --purple-900: #2f205d;

  --orange-100: #fff4e8;
  --orange-200: #ffe4c5;
  --orange-300: #ffd4a0;
  --orange-400: #fec37e;
  --orange-500: #feb258;
  --orange-600: #ff9f2f;
  --orange-700: #ff8a00;
  --orange-800: #d77400;
  --orange-900: #975100;

  --shadow-default: 4px 6px 10px rgba(0, 0, 0, 0.25);
  --shadow-primary: 4px 6px 30px var(--primary-500);
  --shadow-low: 0px 2px 8px rgba(0, 39, 90, 0.1) !important;
  --shadow-medium: 0px 8px 16px rgba(0, 39, 90, 0.15) !important;
  --shadow-high: 0px 16px 48px rgba(0, 39, 90, 0.2) !important;

  --gradient-primary: linear-gradient(
    180deg,
    var(--primary-600) 0%,
    var(--primary-500) 100%
  );
  --gradient-secondary: linear-gradient(
    180deg,
    var(--secondary-500) 0%,
    var(--secondary-400) 100%
  );
  --gradient-purple: linear-gradient(
    180deg,
    var(--purple-600) 0%,
    var(--purple-400) 100%
  );

  --bs-table-hover-bg: var(--gray-100);

  --warn-palette: mat.define-palette(mat.$red-palette);
}

.shadow-default {
  box-shadow: var(--shadow-default) !important;
  border: none !important;
}

.bg-admin {
  background-color: var(--primary-600);
}

.bg-teacher {
  background-color: var(--secondary-600);
}

.bg-student {
  background-color: var(--purple-600);
}

.card {
  &.border-success {
    border-color: var(--success-500) !important;
    box-shadow: 2px 3px 5px var(--success-300) !important;
  }

  &.border-danger {
    border-color: var(--danger-500) !important;
    box-shadow: 2px 3px 5px var(--danger-300) !important;
  }
}
