@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
  $font-family: 'Work Sans',
);

$my-primary: mat.define-palette(mat.$blue-palette, 600);
$my-accent: mat.define-palette(mat.$teal-palette, 500);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

@include mat.core($custom-typography);

@import 'bootstrap/scss/bootstrap';

@import 'variables';
@import 'buttons';
@import 'layout';
@import 'typography';
@import 'shadows';
@import 'inputs';
@import 'icons';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';
@import '~quill/dist/quill.snow.css';

body {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 0.9rem;
  color: var(gray-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(primary-600);
}

mat-form-field {
  width: 100%;
}

.small-dialog {
  width: 80vw;

  @media (min-width: 992px) {
    width: 40vw;
  }
}

.medium-dialog {
  width: 80vw;

  @media (min-width: 992px) {
    width: 60vw;
  }
}

.large-dialog {
  width: 80vw;

  @media (min-width: 992px) {
    width: 70vw;
  }
}

.alert {
  color: white;
  border: none;

  &.success {
    background: var(--success-500);
  }

  &.failure {
    background: var(--danger-500);
  }
}
