<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Survey details' | transloco }}</h4>
    <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-file-bar-graph" aria-hidden="true"></i>
          {{ 'Results' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <ng-container *ngIf="survey$ | async as survey">
            <skooltrak-question-result
              *ngFor="let question of survey.questions"
              [question]="question"
            ></skooltrak-question-result>
          </ng-container>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-people" aria-hidden="true"></i>
          {{ 'Participants' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <ng-container *ngIf="survey$ | async as survey">
            <skooltrak-participants [survey]="survey"></skooltrak-participants>
          </ng-container>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-pencil-square" aria-hidden="true"></i>
          {{ 'Edit' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <ng-container *ngIf="survey$ | async as survey">
            <skooltrak-survey-form
              [survey]="survey"
              (saveSurvey)="updateSurvey($event)"
            ></skooltrak-survey-form>
          </ng-container>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
