<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Payments history' | transloco }}</h4>
    <ng-container *ngFor="let payment of payments | async">
      <div class="card" *ngIf="!payment.creditNote">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="reference">Nro. Ref</label>
                <input
                  readonly
                  class="regular-text form-control-plaintext py-0"
                  [value]="payment.referenceNumber"
                  name="reference"
                  id="reference"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="date">Fecha de pago</label>
                <input
                  readonly
                  class="regular-text form-control-plaintext py-0"
                  [value]="payment.paymentDate | date: 'dd/MM/yyyy'"
                  name="date"
                  id="date"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="method">Método de pago</label>
                <input
                  readonly
                  class="regular-text form-control-plaintext py-0"
                  [value]="payment.method"
                  name="method"
                  id="method"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="description">Descripción</label>
                <input
                  readonly
                  class="regular-text form-control-plaintext py-0"
                  [value]="payment.description"
                  name="description"
                  id="description"
                />
              </div>
            </div>
            <div class="col-md-12">
              <h6>Aplicación</h6>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Cargo</th>
                    <th scope="col">Original</th>
                    <th scope="col">Pagado</th>
                    <th scope="col">Balance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let application of payment.applications">
                    <th scope="row">{{ application.charge.description }}</th>
                    <td>{{ application.charge.amount | currency: 'PAB' }}</td>
                    <td class="text-success">
                      {{ application.amount | currency: 'PAB' }}
                    </td>
                    <td>
                      {{
                        application.charge.amount - application.amount
                          | currency: 'PAB'
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Total pagado:</td>
                    <td class="large-text bold-text text-success">
                      {{ payment.amount | currency: 'PAB' }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
