<div class="back">
  <div *transloco="let t" class="container d-flex align-items-center justify-content-center">
    <div class="row d-flex main align-items-center justify-content-center">
      <div class="col-md-5">
        <form
          class="card"
          (ngSubmit)="
            signIn({
              userName: userName.value,
              password: userPassword.value
            })
          "
        >
          <div class="card-body">
            <div class="row d-flex align-items-center justify-content-center">
              <img src="assets/img/logo-vertical.png" class="logo" alt="logo" />
            </div>
            <div class="d-flex flex-column">
              <div class="form-label-group">
                <input
                  type="email"
                  #userName
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder=" "
                />
                <label for="email">{{ t('Email') }}</label>
              </div>
              <div class="form-label-group">
                <input
                  type="password"
                  #userPassword
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder=" "
                />
                <label for="password">{{ 'Password' | transloco }}</label>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-block">
                    {{ 'Log in' | transloco }}
                  </button>
                </div>
                <div class="col-md-12">
                  <a
                    [routerLink]="['/reset-password']"
                    class="btn btn-outline-secondary btn-block"
                  >
                    {{ 'Forgot password' | transloco }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
