<a class="navbar-brand" [routerLink]="['home']">
  <img
    src="/assets/img/skooltrak-logo.svg"
    width="30"
    height="30"
    class="d-inline-block align-top"
    alt=""
  />
  Skooltrak
</a>
<button
  class="navbar-toggler float-end"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['home']"
        >{{ 'Home' | transloco }} <span class="sr-only">(current)</span></a
      >
    </li>
    <li
      *ngFor="let link of links.getLinks(role)"
      class="nav-item"
      routerLinkActive="active"
    >
      <a class="nav-link" [routerLink]="link.route">
        <i [class]="link.icon" aria-hidden="true"></i>
        {{ link.label | transloco }}
      </a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ session.currentUser.displayName }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" [routerLink]="['profile']"
          ><i class="fas fa-user fa-fw" aria-hidden="true"></i>
          {{ 'My profile' | transloco }}</a
        >
        <a class="dropdown-item" [routerLink]="['change-password']"
          ><i class="fas fa-key fa-fw" aria-hidden="true"></i>
          {{ 'Change password' | transloco }}</a
        >

        <a class="dropdown-item" [routerLink]="['/']"
          ><i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>
          {{ 'Sign out' | transloco }}</a
        >
      </div>
    </li>
  </ul>
</div>
