<table class="table">
  <thead>
    <tr>
      <th>{{ 'Student' | transloco }}</th>
      <th>{{ 'Score' | transloco }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students$ | async">
      <td>{{ student.shortName }}</td>
      <td>
        <span
          class="font-weight-bold regular-text"
          [ngClass]="{
            'success-text': student.score >= 4,
            'warning-text': student.score >= 3 && student.score < 4,
            'danger-text': student.score < 3
          }"
          >{{ student.score | number: '1.2-2' }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
