<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{ 'Name' | transloco }}</th>
      <th scope="col">{{ 'Uploaded by' | transloco }}</th>
      <th scope="col">{{ 'Uploaded date' | transloco }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents$ | async">
      <td>
        <i class="fa-lg" [class]="getFileIcon(document)" aria-hidden="true"></i>
      </td>
      <td>
        <a [href]="filesService.getFile(document.file.id)" [download]="true">{{
          document.name
        }}</a>
      </td>
      <td>{{ document.createUser.displayName }}</td>
      <td>{{ document.createDate | date: 'medium' }}</td>
    </tr>
  </tbody>
</table>
