<div *ngIf="documents$ | async as documents" class="row">
  <ng-container *ngFor="let document of documents">
    <div class="col-lg-4" *ngIf="!teacherDoc(document)">
      <a
        [href]="filesService.getFile(document.file.id)"
        [download]="true"
        class="card doc-card"
      >
        <div class="card-body">
          <div class="row">
            <div
              class="col-lg-3 d-flex justify-content-center align-items-center"
            >
              <img [appFileIcon]="document" class="logo" alt="" />
            </div>
            <div class="col d-flex flex-column">
              <div class="semibold-text">{{ document.name }}</div>
              <div class="clear-text">{{ document.student.name }}</div>
              <div class="light-text">
                {{ document.createDate | timeStamp }}
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </ng-container>
</div>
