<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" for="year">{{
        'Select year' | transloco
      }}</label>
      <select
        class="form-control custom-select"
        [(ngModel)]="currentYear"
        (ngModelChange)="setYear($event)"
        name="year"
        id="year"
      >
        <option selected [ngValue]="undefined">
          {{ '-Select-' | transloco }}
        </option>
        <option *ngFor="let year of years$ | async" [ngValue]="year">
          {{ year }}
        </option>
      </select>
    </div>
  </div>
</div>
